*{
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    /* outline: 1px solid red; */
    list-style: none;
    font-family: 'Hubballi', cursive, sans-serif;
    box-sizing: border-box;
    outline: none;
}

body{
    overflow: hidden
    ;
}

.container{
    display: grid;
    grid-template-columns: 1.2fr 5fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
    background-color: rgb(181, 220, 232);
    width: fit-content;
}

.header{
    padding: 2%;
    height: fit-content;
    box-shadow: 3px 3px 3px 2px rgb(16, 154, 228);
    z-index: 2;
}

.header .top{
    display:grid;
    grid-template-columns: repeat(19, 1fr);
    align-items: center;
    min-width: 95%;
    max-width: 95%;
}

.lbSearch::before{
    display: block;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    background-size: contain;
    content: '';
    background: url(./imgs/search_black_24dp.svg) no-repeat center center;
}

.lbSearch{
    transition: transform .3s;
}

#search{
    width: 70%;
    border-radius: 20px;
    background-color: rgb(16, 154, 228);
    color: white;
    padding-left: 20px;
    font-size: 1.5rem;
    border: 0;
    outline: 0;
    line-height: 40px;
    grid-area: 1/2/1/18;
}

#search::placeholder{
    color: white;
    opacity: 0.5;
}

#search:hover{
    border: 1px solid black;
    cursor: pointer;
}


.notificationBell{
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background-size:contain;
    content: '';
    background: url(./imgs/notifications_active_black_24dp.svg) no-repeat center center;
    grid-area: 1/15/1/17;
    justify-self: end;
    transition: transform .3s;
}

.smallProfilePic{
    display: block;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-size:auto;
    content: '';
    background: url(./imgs/profilePic.jpeg) no-repeat center center;
    background-size: cover;
    grid-area: 1/17/1/18;
    transition: transform .3s;
}

.userName{
    grid-area: 1/18/1/21;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 50px;
    min-width: fit-content;
    max-width: fit-content;
    transition: transform .3s;
    
}

.auxCenter{
    display: flex;
    gap: 15px;
}

.notificationBell:hover,
.lbSearch:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.userName:hover,
.smallProfilePic:hover{
    transform: scale(1.2);
    cursor: pointer;
}

/* Bottom part of the Header */
.bot{
    display: flex;
    margin-top: 40px;
    gap: 15px;
    align-items: center;
}
.profilePic{
    display: block;
    flex-shrink: 0;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-size:auto;
    content: '';
    background: url(./imgs/profilePic.jpeg) no-repeat center center;
    grid-area: 1/17/1/18;
    transition: transform .3s;
}

.salute{
    font-size: 1.25rem;
}

.userNameHandle{
    font-size: 2rem;
    font-weight: 900;
    width: 200%;
}

.containerButtons{
    display: inline-flex;
    width: 100%;
    gap:20px;
    align-items: center;
    justify-content: flex-end;
    min-width: 450px;
}

.btn{
    border: none;
    display: flex;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
}
.btn span {
    position: relative; 
    z-index: 1;
}

.btn span:hover{
    color: black;
}
  
.btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 200%;
    width: 100%;
    background: #78c7d2;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
  
.btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}



/* SideBar code below */
.sideBar{
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
    grid-area: 1/1/3/1;
}
.sideBar .title{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 200%;
}
.sideBar .title::before{
    display: flex;
    flex-shrink: 0;
    width: 33px;
    height: 44px;padding-left: 5px;
    margin: 10px;
    margin-right: 0;
    align-items: center;
    background: url(./imgs/dashboard_white_24dp.svg) no-repeat left center;
    background-size: contain;
    content: '';
    justify-items: center;
}
.sideBar ul{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.sideBar li{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    margin: 10px;
    line-height: 2rem;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px white;
    transition: transform .3s;
}
.sideBar li:hover,
.sideBar li:active{
    transform: scale(1.2);
    text-shadow: 1px 1px rgb(0, 255, 242);
}
/* Prepare space for the custom icon */
.sideBar li:before {
    display: block;
    flex-shrink: 0;
    width: 33px;
    height: 20px;
    background-size: contain;
    content: '';
}

/* Select the icons for each option of the dashboard */
#home{
    background: url(./imgs/home_white_24dp.svg) no-repeat 20px center;
}
#profile{
    background: url(./imgs/person_white_24dp.svg) no-repeat 20px center;
}
#messages{
    background: url(./imgs/comment_white_24dp.svg) no-repeat 20px center;
}
#history{
    background: url(./imgs/history_white_24dp.svg) no-repeat 20px center;
}
#tasks{
    background: url(./imgs/fact_check_white_24dp.svg) no-repeat 20px center;
}
#communities{
    background: url(./imgs/groups_white_24dp.svg) no-repeat 5px center;
}
#settings{
    background: url(./imgs/settings_white_24dp.svg) no-repeat 20px center;
}
#support{
    background: url(./imgs/contact_support_white_24dp.svg) no-repeat 20px center;
}
#privacy{
    background: url(./imgs/verified_user_white_24dp.svg) no-repeat 20px center;
}



/* Main content of webpage code below */
.main{
    background-color: rgb(225, 242, 247);
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-auto-rows: minmax(min-content, max-content);
    overflow-y: scroll;    
}

/* Projects code below */
h1{
    padding: 20px 0 0 10px;
    height: fit-content;
}

#titleProjs{
    border-right: 5px solid rgb(13, 220, 235);
}

.mainGrid{
    padding: 20px;
    display: grid;
    gap: 2rem;
    grid-area: 2/1;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-right: 5px solid rgb(13, 220, 235);
}
.card{
    font-size:large;
    border-left: 5px solid rgb(0, 132, 255);
    border-radius: 5px;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
    padding: 5%;
    display: flex;
    flex-direction: column;
}

.card:hover{
    transform: scale(1.1);
    cursor:default;
}

.cardTitle{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 5px;
}

.cardIcons{
    display: flex;
    justify-content: end;
    margin-top: auto;
    padding-top: 10px;
    padding-bottom: 20px;
}

.icon1:hover,
.icon2:hover,
.icon3:hover{
    cursor: pointer;
}

.icon1{
    display: block;
    flex-shrink: 0;
    width: 33px;
    height: 24px;
    background-size: contain;
    content: '';
    background: url(./imgs/bookmark_add_black_24dp.svg) no-repeat center center;
}

.icon2{
    display: block;
    flex-shrink: 0;
    width: 33px;
    height: 24px;
    background-size: contain;
    content: '';
    background: url(./imgs/visibility_black_24dp.svg) no-repeat center center;
}

.icon3{
    display: block;
    flex-shrink: 0;
    width: 33px;
    height: 24px;
    background-size: contain;
    content: '';
    background: url(./imgs/content_copy_black_24dp.svg) no-repeat center center;
}


/* Announcements code part */
#titleAnoun{
    position: sticky;
    grid-area: 1/2/1/2;
}

.rightBar{
    display: flex;
    flex-direction: column;
    grid-area: 2/2/2/2;
    margin: 1rem;
}

.announcements .card{
    border: 0;
    padding: 20px;

}

.announcements .card:hover{
    transform: none;
}

.announcTitles{
    font-size: 20px;
    font-weight: 700;
}

.announcText{
    margin-bottom: 1rem;
}

.line{
    border-top: 2px solid gray;
    padding-top: 1rem;
}


/* Trending code part */
#titleTrend{
    margin-top: 2rem;
    margin-left: -1rem;
}

.trending .card{
    border: 0;
    padding: 10px 20px 15px;
    max-height: 95%;

}

.trending .card:hover{
    transform: none;
}

.trendCont{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 0.5rem 0.5rem;
}

.trendCont:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#img1{
    background: url(./imgs/profPic1.jpg) center center;
    background-size: cover;
}

#img2{
    background: url(./imgs/profPic2.jpg) center center;
    background-size: cover;
}

#img3{
    background: url(./imgs/profPic3.jpg) center center;
    background-size: cover;
}

.profPic{
    display: flex;
    width: 4rem;
    height: 4rem;
    content: '';
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    grid-row: span 2;
}

.trendCont .handle{
    font-weight: 700;
    display: flex;
    align-items: flex-end;
}

.trendCont .handle,
.trendCont .nickName{
    margin-left: 0.5rem;
}

/* Footer code below */
.footer{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(162, 190, 192);
    color: white;
    text-shadow: 2px 2px rgb(165, 163, 163);
    padding: 10px;
    position: relative;
    display: flex;
    top: -35px;
    justify-content: center;
    align-items: flex-end;
    z-index: 2;

}
.fa-github {
    color: rgb(0, 238, 255);
    font-size: 44px;
    transition: transform 0.3s ease-in-out;
    margin-left: 5px;
    margin-bottom: 5px;
}

.fa-github:hover {
    transform: rotate(360deg) scale(1.5);
}





/* Tooltips for icons on cards*/
.tooltip,
.tooltipClick {
    position: relative;
    display: inline-block;
  }
  
  .tooltipClick{
      z-index: 2;
  }
  
  .tooltiptext{
      margin-bottom: 5px;
  }
  .tooltip .tooltiptext,
  .tooltipClick .tooltipClicktext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(117, 112, 112);
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    
    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .tooltip:hover .tooltiptext,
  .tooltip:hover .tt2 {
    visibility: visible;
    opacity: 1;
  }

  .tooltip .tooltiptext::after,
  .tooltipClick .tooltipClicktext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(117, 112, 112) transparent transparent transparent;
  }
